body {
	padding: 20px;
}
.app-container {
	height: 400px;
	width: 300px;
	background: #2b5870;
	border-radius: 20px;
	box-shadow: 10px 10px 38px 0px rgba(0, 0, 0, 0.75);
}

.tab-container {
	width: 100%;
	height: 100%;
}

.device-card {
	margin-bottom: 20px;
}